@media screen and (max-width: 992px) {
  .currency {
    &__header { font-size: 20px; }
  }
}

@media screen and (max-width: 592px) {
  .currency {
    flex-direction: column;
    justify-content: space-around;

    &__header {
      font-size: 20px;
      margin: 0; }
    &__selected { margin: 0; }
    &__list {
      top: 95px;
      right: auto; }
  }
}
