@import "var";
* {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: black;
  &:hover { text-decoration: none; }
}

ul { list-style: none; }


footer,
section {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container {
  @include flex-col;
  width: 96%;
  max-width: 1200px;
  padding: 0 2%;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;}

.icon {
  background-image: url("../img/css_sprites.png");
  display: block; }